In [ ]:
python build in data structures-iterables

LIST:
    * List are ordered,mutable collections of items
    * They can contain items of different data types

In [7]:
a=10
type(a)

int

In [8]:
#creating lists empty list
L=[]
type(L)

list

In [9]:
#check type
print(type(L))

<class 'list'>

In [10]:
#create list with numbers
L=[1,10,5,7,12]

In [11]:
print(L)

[1, 10, 5, 7, 12]

In [13]:
#create the list with string
names=['ravi','anand','kumar','kannan','xavier','vimal']
print(names)

['ravi', 'anand', 'kumar', 'kannan', 'xavier', 'vimal']

In [18]:
#create list with all types
mylist=['anand',35,9.5,'true']
print(names)

['ravi', 'anand', 'kumar', 'kannan', 'xavier', 'vimal']

In [22]:
#accessing list elements by index
print (names)
print (names[5])
print (names[2])

['ravi', 'anand', 'kumar', 'kannan', 'xavier', 'vimal']
vimal
kumar

In [23]:
#accessing list elements from last
names[-6]

'ravi'

In [24]:
#modifying list elements by index - mutabe
names[2]='surya'
print (names)

['ravi', 'anand', 'surya', 'kannan', 'xavier', 'vimal']

In [25]:
#slicing lists
print (names[0:3])
print (names[2:5])
print (names[-3:])

['ravi', 'anand', 'surya']
['surya', 'kannan', 'xavier']
['kannan', 'xavier', 'vimal']

In [29]:
#slicing with stride in list
print(names[:4:2])
print(names[::-2])

['ravi', 'surya']
['vimal', 'kannan', 'anand']

In [30]:
#list methods
#append
names.append('anand')
print(names)

['ravi', 'anand', 'surya', 'kannan', 'xavier', 'vimal', 'anand']

In [41]:
#count
x=names.count('anand')
print(x)

2

In [40]:
#index
print(names.index('anand'))
print(names.index('anand',2))

1
6

In [42]:
#extend
newlist=['mani','raja','virat']
names.extend(newlist)
print(names)

['ravi', 'anand', 'surya', 'kannan', 'xavier', 'vimal', 'anand', 'mani', 'raja', 'virat']

In [43]:
#insert
names.insert(3,'bharath')
print(names)

['ravi', 'anand', 'surya', 'bharath', 'kannan', 'xavier', 'vimal', 'anand', 'mani', 'raja', 'virat']

In [54]:
#pop
print(names.pop(0))
print(names)

ravi
['anand', 'surya', 'anand', 'mani', 'raja', 'virat']

In [58]:
#remove
names.remove('anand')
print(names)

['surya', 'mani', 'raja', 'virat']

In [59]:
#reverse
names.reverse()
print(names)

['virat', 'raja', 'mani', 'surya']

In [66]:
#sort() reverse=true
names.reverse()    #desc
print(names)

['virat', 'surya', 'raja', 'mani']

In [68]:
#sort() reverse=true
names.sort()    #asce
print(names)

['mani', 'raja', 'surya', 'virat']

In [69]:
#copy by value
x=names.copy()
print(x)

['mani', 'raja', 'surya', 'virat']

In [71]:
print(names)
names[0]='anand'
names[1]='surya'
print(names)
print(x)

['anand', 'raja', 'surya', 'virat']
['anand', 'surya', 'surya', 'virat']
['mani', 'raja', 'surya', 'virat']

In [2]:
#copy by reference
a=[1,2,3,4,5]
b=a
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [3]:
a[0]=10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [83]:
#len min max
l=[1,3,5,6,7]
print(len(l))
print(min(l))
print(max(l))

5
1
7

In [84]:
#iterating over lists
for i in names:
    print(i)

anand
surya
surya
virat

In [90]:
#iterating with index-enumerate
for index,value in enumerate (names):
    print(index,value)

0 anand
1 surya
2 surya
3 virat

In [32]:
[ random.randint(1,20) for i in range(1,21)]

[9, 5, 5, 17, 1, 5, 4, 7, 7, 16, 16, 13, 10, 13, 8, 8, 15, 16, 3, 6]

In [33]:
num[0]

1

In [34]:
num[-1]

18

List comprehensions
*basic syantax
*With conditional logic
*Nested list

In [8]:
# bassic synatax
[item*item for item in range(1,5)]

[1, 4, 9, 16]

In [9]:
#do it in for loop
#with conditional logic
[item for item in range(1,10) if item%2==0]

[2, 4, 6, 8]

In [10]:
#nested lists
l1=[1,2,3,4,5]
l2=[11,12,13,14,15]
[(i,j) for i in l1 for j in l2]

[(1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (1, 15),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (2, 15),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (3, 15),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14),
 (4, 15),
 (5, 11),
 (5, 12),
 (5, 13),
 (5, 14),
 (5, 15)]

In [20]:
newlist=['anand','arun',99,['mani','kannan',38]]
print(newlist[2])
print(newlist[3])
print(newlist[3][0])
print(newlist[3][0][0])
print(newlist[3][1][2])

99
['mani', 'kannan', 38]
mani
m
n

In [80]:
card=[]
print('welcome to trichy')

welcome to trichy

In [2]:
card=['apple','mango','banana','orange','pineapple']
print(card)

['apple', 'mango', 'banana', 'orange', 'pineapple']

In [21]:
newcard=['watermelon','grapes']
card.extend(newcard)
print(card)

['apple', 'banana', 'mango', 'orange', 'pineapple', 'watermelon', 'grapes']

In [3]:
print(card)
for index,value in enumerate (card):
    print(index,value)

['apple', 'mango', 'banana', 'orange', 'pineapple', 'watermelon', 'grapes']
0 apple
1 mango
2 banana
3 orange
4 pineapple
5 watermelon
6 grapes

In [4]:
card.remove('watermelon')
print(card)

['apple', 'mango', 'banana', 'orange', 'pineapple', 'grapes']

In [11]:
card.insert(5,'avacato')
print(card)

['apple', 'mango', 'banana', 'orange', 'pineapple', 'avacato', 'grapes']

In [22]:
card.sort()  
print(card)

['apple', 'banana', 'grapes', 'mango', 'orange', 'pineapple', 'watermelon']

In [4]:
'banana' in card

True

In [6]:
card.clear()

In [7]:
print(card)

[]

In [13]:
[card for card in range(40) if card % 5==0]

[0, 5, 10, 15, 20, 25, 30, 35]

TUPLES
*Tuples are ordered collections of items that are immutable.
*They are similar to list, but their immutability makes them different.

In [1]:
#creating a tuple
tup=()

In [2]:
#check type
type(tup)

tuple

In [3]:
#create tuple with value
tup=(1,2,4,5)

In [21]:
#create tuple with multiple date type
tup1=('anand',34,4.5,'true')

In [14]:
print(tup1)

('anand', 34, 4.5, 'true')

In [24]:
list (tup1)

['anand', 34, 4.5, 'true']

In [25]:
#accessing tupe elements
tup1[1]

34

In [26]:
#immutable
tup1[0]='kumar'

TypeError: 'tuple' object does not support item assignment

In [28]:
#slicing tuple
tup1[1:]

(34, 4.5, 'true')

In [38]:
#tuple methods count,index
data=[1,'ravi',2,3,4,5,5,'ravi','anand',6,3,'anand']
data.count('anand')

2

In [35]:
data.index(6)

9

In [40]:
#tuple operations +,*
v=(1,2,3)
x=(5,6,7)
print(v+x)
v*3

(1, 2, 3, 5, 6, 7)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [41]:
#packing
age=32,35,38
age

(32, 35, 38)

In [44]:
#unpacking
x,y,z=age
print(x,y,z)

36 35 38

In [43]:
x=36
age=x,y,z
print(age)

(36, 35, 38)

In [45]:
data=(1,2,3,4,5)
a,b,c=data

ValueError: too many values to unpack (expected 3)

In [46]:
#unpacking with*
a,*b,c=data
print(a,b,c)
print(b)

1 [2, 3, 4] 5
[2, 3, 4]

In [47]:
#list o uple
value=tuple([1,2,3,4,5])
value

(1, 2, 3, 4, 5)

In [48]:
#tuple to list
ls=list(value)
value

(1, 2, 3, 4, 5)

In [49]:
#nested tuple
ts=((1,2,4),(4,5,6))

In [50]:
#access element
ts[0][2]

4

In [51]:
#iterating over nested tuples
for item in ts:
    for data in item:
        print(data,end=' ')
    print()

1 2 4
4 5 6

In [52]:
ss=(8,9,10)
10 in ss

True

In [55]:
range(1,6)
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [56]:
#pattern problem
row=4
col=4
for j in range(row):
    for i in range(col):
        print('*',end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

DICTIONARIES:
   . mutable unordered (before python 3.7) insertion order after 3.7
   . colloectiob of key-value points
   . key must be unique and immutable

In [ ]:
my_dict={'key1':'value1','key2':'value2'}

In [8]:
# creating empty dictionaries
mydic={}
type(mydic)

dict

In [15]:
mydic2=dict()
type(mydic2)

dict

In [17]:
#create dict of student name age mark
student={'name':'ravi','age':'33','mark':'83'}
print(student)

{'name': 'ravi', 'age': '33', 'mark': '83'}

In [18]:
#key must be unique duplicate key overwrite the previous value
student={'a':10,'b':20,'a':50}
print(student)

{'a': 50, 'b': 20}

In [19]:
#accessing dictionary elements by key
student['a']

50

In [20]:
#accessing dictionary eements using get()method
student.get('a')

50

In [21]:
student['a1']

KeyError: 'a1'

In [25]:
#to aviod keyerror
#use get default value
student.get('a1','none')

'none'

In [26]:
#use in operator
if 'a1' in student:
    student['a1']

In [27]:
#modifying dictionary elements
student['a']=90
print(student)

{'a': 90, 'b': 20}

In [2]:
#to remove eement by use del element
student={'a':10,'b':20}
del student['a']
print(student)

{'b': 20}

In [29]:
print(student)
del student
print(student)

{'b': 20}

NameError: name 'student' is not defined

In [3]:
#iterating over keys
student={'a':10,'b':20}
for i in student.keys():
    print(i)

a
b

In [4]:
##iterating ove values
student={'a':10,'b':20}
for i in student.values():
    print(i)

10
20

In [5]:
#iterrate over key value pairs
student={'a':10,'b':20}
for i,value in student.items():
    print(i,value)

a 10
b 20

In [9]:
#nested dictonaries
student={
    's1':{'name':'anand','age':32},
    's2':{'name':'kumar','age':35}
}
print(student)

{'s1': {'name': 'anand', 'age': 32}, 's2': {'name': 'kumar', 'age': 35}}

In [12]:
#access nested dictionaries elements student['s1']['name']
#iterating over nested dictionaries
for sid,info in student.items():
    print(sid)
    for k,v in info.items():
        print(k,v)

s1
name anand
age 32
s2
name kumar
age 35

In [17]:
#dictionary comphrehension
squares={x:x*2 for x in range(5)}
print(squares)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [19]:
#merge 2 dictonaries into one using
d1={'ss':1,'a':2}
d2={'s1':10,'s3':10}
print({**d1,**d2})

{'ss': 1, 'a': 2, 's1': 10, 's3': 10}

In [31]:
#word count
n='hello welcome to trichy hello welcome to chennai'
words=n.split()
word_counts={word:words.count(word) for word in set (words)}
print(word_counts)

{'chennai': 1, 'to': 2, 'welcome': 2, 'hello': 2, 'trichy': 1}

sets:
 .To store collections of unique items
 .They are unordered
 .They do not allow duplicate elements
 .Useful for membership tests,eliminating duplicate entries
 .Performing mathematical se opeations like union,intersection,difference and symmetric difference.

In [32]:
#create a set {} set()
a={1,3,4,6}
type(a)

set

In [33]:
#list of set
list(a)

[1, 3, 4, 6]

In [34]:
#adding elements
a.add(10)
print(a)
a.add(2)
print(a)
a.add('ravi')
print(a)

{1, 3, 4, 6, 10}
{1, 2, 3, 4, 6, 10}
{1, 2, 3, 4, 6, 'ravi', 10}

In [35]:
#removing elements
a.remove(2)
print(a)

{1, 3, 4, 6, 'ravi', 10}

In [37]:
#pop
a.pop()
print(a)

{4, 6, 'ravi', 10}

In [38]:
#clear
a.clear()
print(a)

set()

In [41]:
#set membership test
my_set={1,2,3,4,5}
print(3 in my_set)

True

In [4]:
#mathematical operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [5]:
#union
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
#intersection
set1.intersection(set2)

{4, 5, 6}

In [7]:
#differece
set2.difference(set1)

{7, 8, 9}

In [8]:
#symmetric_difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [9]:
#sets words
set1={1,2,3,4,5}
set2={3,4}

In [10]:
#issubset
set2.issubset(set1)

True

In [12]:
#issuperset
set1.issuperset(set2)

True

In [16]:
#counting unique words in text
text="hello welcome anand hello welcome ravi"
res=text.split(' ')
print(res)
des=set()
for i in res:
    des.add(i)
print(des)

['hello', 'welcome', 'anand', 'hello', 'welcome', 'ravi']
{'hello', 'welcome', 'ravi', 'anand'}